*{
    margin:0;
    font-family:Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display :flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("download.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border :hover{
border: 1.5px solid white
}

/** second box **/
.addr-1{
    color : #CCCCCC;
    font-size : 0.85rem;   
    margin-left: 15px;
}
.addr-2{
    font-size : 1rem;
    font-weight : bold;
    margin: 3px;
}
.addr-icon{

    display: flex;
    align-items: center;
}
/** third box **/
.nav-search{
    background-color: #fa9005;
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid #fa9005;
}
.search-select{
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1.1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.2rem;
    color:black;
}
span{
    font-size: 0.7rem;
}
.nav-signin{
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    margin-left: 15px;
    font-weight: 700;
}

.nav-card i{
    font-size:30px;
}
.nav-card{
    font-size:1rem;
    font-weight:700;
}
/*panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;   
    justify-content: space-evenly;
    color   : white;
}
.panel_items p {
    display : inline;
    margin-left : 15px;
    color: white;
     
   
    
}
.panel_items{
    width:70%;
    font-size: 0.85rem;  
}
.panel_deals{
    font-size: 0.85rem;  
    font-weight: bold;
}
/* hero section */

.hero_section{
position: relative;
background-size: cover;
height: 60vh;
width: 100vw;
display:flex;
align-items: flex-end;    
justify-content: center;
overflow: hidden;

}
.hero_section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    

}
.hero_section img:hover{

content: url("https://www.amazon.in/s/ref=in-bx-pcsc-p1/?_encoding=UTF8&i=stripbooks&rh=n%3A4149807031%2Cp_n_pct-off-with-tax%3A2665400031%2Cp_85%3A10440599031%2Cp_n_availability%3A1318485031&dc=&qid=1758560165&rnid=1318483031&pd_rd_w=GGsdM&content-id=amzn1.sym.2a88e0f6-761e-4bc4-a282-bf930d8cdd17&pf_rd_p=2a88e0f6-761e-4bc4-a282-bf930d8cdd17&pf_rd_r=E4P4CTXBS1RTATKWM847&pd_rd_wg=YhZ6E&pd_rd_r=b91a25f7-f9ff-40ad-b7eb-e85dc14653ca&ref_=pd_hp_d_hero_unk");

}
.hero_msg{
    color:black;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 50px;
    display: flex;
    position: absolute;
    width:80%;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.hero_msg a{
    color: #007185;
    cursor: pointer;
}
/* shop-section*/
.shop-section{
    display: flex;
    display: wrap;
    justify-content: space-evenly;  
    background-color: #e2e7e6;
    
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
}
.box-image{
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
/* footer=panel */
footer{
    margin: 15px;
}
.footer-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin: 30px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    border-top: 0.3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

}
.logo{
    background-image: url("download.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}
.foot-panel4{
    background-color: #0f1111;
    font-size: 0.7rem;
    color: white;
    height: 80px;
    text-align: center;
}
.pages{
    padding-top: 25px;

}
.copyright{
    padding-top: 5px;
}